{% extends "pwipro/base.html" %}
{% block content %}
{% load static %}


<style>.row {
  padding-top: 5px;
  text-align: center;
}

.card {
  display: inline-block;
  width: 110px;
  height: 110px;
  background-color: #cbbeb5;
  cursor: pointer;
}

.card:hover {
  box-shadow: inset 0px 0px 0px 3px black;
  box-sizing: border-box;
}

.card.done {
  cursor: default;
}

.card.done:hover {
  cursor: default;
  box-shadow: none;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.cyan {
  background-color: cyan;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.teal {
  background-color: teal;
}

.color-hidden {
  background-color: #cbbeb5;
}</style>
<div class="row">
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
    </div>
    <div class="row">
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
    </div>
    <div class="row">
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
    </div>
    <div class="row">
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
      <div
        class="card color-hidden"
        onclick="onCardClicked(event)"
      ></div>
</div>
<script src="{% static 'js/memory.js' %}"></script> 
{% endblock content%}